# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
.turbo/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
*.tsbuildinfo

# Drizzle
drizzle/meta/_journal.json.bak
